* {
    /* step 6 */
    font-family: 'Pacifico', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
	--size: calc(1vw + 1vh); 
	--transition-behavior: cubic-bezier(.075, .5, 0, 1);
}

.smooth-wrapper,
.smooth-content {
	will-change: transform;
}

.preview {
    width: 100%;
    min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	color: #141414;
	background: #f0f0f0;
    overflow: hidden;
	user-select: none;
	z-index: 0;
}

.preview__list {
	width: 100%;
	height: 100%;
	font-size: calc(var(--size) * 2.75);
	list-style: none;
	display: flex;
	flex-flow: column;
	padding: calc(var(--size) * 2.75);
	margin: 0;
}
.preview__item {

	border-bottom: 1px solid rgb(0 0 0 / .09);
	counter-increment: my-counter;
	cursor: none;
}

.preview__item-text {
	width: 100%;
	display: block;
	position: relative;
	transition-property: transform;
	transition-duration: 750ms;
	transition-timing-function: var(--transition-behavior);
	padding: calc(var(--size) * 3) calc(var(--size) * 7.5);
	z-index: 2;
}

.preview__item-text::before {
    content: '(' counter(my-counter) ')';
    font-size: calc(var(--size) * 1);
    letter-spacing: calc(var(--size) * 0.15);
    position: absolute;
    margin-top: calc(var(--size) * 1);
    margin-left: calc(var(--size) * -3);
}

.preview__item:hover .preview__item-text {
	transform: translate3d(calc(var(--size) * -6), 0, 0);
	will-change: transform;
}

.preview__item-cursor-container {
	--width: calc(var(--size) * 22);
	--height: calc(var(--size) * 14);
	width: var(--width);
	height: 0;
	position: fixed;
	top: calc(var(--height) * -0.5);
	left: calc(var(--width) * -0.5);
	transform: translate3d(var(--move-x), var(--move-y), 0);
	transition-property: transform;
	transition-duration: 750ms;
	transition-timing-function: var(--transition-behavior);
	overflow: hidden;
	z-index: 1;
	will-change: transform;
}

.preview__item:hover .preview__item-cursor-container {
	height: var(--height);
}

.preview__item-cursor {
	width: calc(var(--width) * 2);
	height: calc(var(--height) * 2);
	position: relative;
	top: calc(var(--height) * -.4);
	left: calc(var(--width) * -.4);
	object-fit: cover;
	object-position: center;
	transform: translate3d(calc(var(--move-x) / -5), calc(var(--move-y) / -5), 0) scale(1.5);
	transition-property: transform;
	transition-duration: 750ms;
	transition-timing-function: var(--transition-behavior);
	will-change: transform;

}

.preview__item:hover .preview__item-cursor {
	transform: translate3d(calc(var(--move-x) / -5), calc(var(--move-y) / -5), 0) scale(1);
	will-change: transform;
}